noscript
    p Please enable Javascript
    
header.header
    .header__wrapper
        div.header__menu-part
            .header__burger 
                .header__burger-line
                .header__burger-line
                .header__burger-line    
            .link
                a.link(href="#") Tour
                .link__line
            .link
                a.link(href="#") Features
                .link__line 
            .link
                a.link(href="#") Pricing
                .link__line
        .header__logo
        div.header__menu-part
            .link
                a.link.link_grey(href="#") Help
                .link__line-grey
            .link
                a.link(href="#") Contacts
                .link__line
            button.button.button_header(onclick="location.href='#'")
                .header__apple
                span Get App
    .header__hide-menu
        .header__hide-wrapper
            .header__hide-col
                .header__hide-title Learn more
                .link.link_hide-item
                    a.header__hide-item(href="#") How it works?
                    .link__line
                .link.link_hide-item
                    a.header__hide-item(href="#") Meeting tools
                    .link__line
                .link.link_hide-item
                    a.header__hide-item(href="#") Live striming
                    .link__line
                .link.link_hide-item
                    a.header__hide-item(href="#") Contat method
                    .link__line
            .header__hide-col
                .header__hide-title About us
                .link.link_hide-item
                    a.header__hide-item(href="#") About us
                    .link__line
                .link.link_hide-item
                    a.header__hide-item(href="#") Features
                    .link__line
                .link.link_hide-item
                    a.header__hide-item(href="#") Privaty police
                    .link__line
                .link.link_hide-item
                    a.header__hide-item(href="#") Terms & Conditions
                    .link__line  
            .header__hide-col
                .header__hide-title Support
                .link.link_hide-item
                    a.header__hide-item(href="#") F.A.Q.
                    .link__line
                .link.link_hide-item
                    a.header__hide-item(href="#") Contact us
                    .link__line
                .link.link_hide-item
                    a.header__hide-item(href="#") Live chat
                    .link__line
                .link.link_hide-item
                    a.header__hide-item(href="#") Phone call
                    .link__line
            .header__hide-col.header__hide-col_mobile
                .link.link_hide-item
                    a.header__hide-item(href="#") Tour
                    .link__line
                .link.link_hide-item
                    a.header__hide-item(href="#") Features
                    .link__line
                .link.link_hide-item
                    a.header__hide-item(href="#") Pricing
                    .link__line
                .link.link_hide-item
                    a.header__hide-item(href="#") Help
                    .link__line
                .link.link_hide-item
                    a.header__hide-item(href="#") Contacts
                    .link__line 
                button.button.button_header(onclick="location.href='#'")
                    .header__apple
                    span Get App          
            
